# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/InteractiveGame/.vs/InteractiveGame/v14/.suo
/InteractiveGame/Debug/InteractiveGame.ilk
/InteractiveGame/Debug/InteractiveGame.pdb
/InteractiveGame/InteractiveGame.VC.VC.opendb
/InteractiveGame/InteractiveGame.VC.db
/InteractiveGame/InteractiveGame.sln
/InteractiveGame/InteractiveGame/InteractiveGame.vcxproj.filters
/InteractiveGame/InteractiveGame/InteractiveGame.vcxproj
/InteractiveGame/InteractiveGame/Debug/vc140.pdb
/InteractiveGame/InteractiveGame/Debug/vc140.idb
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/link.write.1.tlog
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/link.read.1.tlog
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/link.command.1.tlog
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/InteractiveGame.lastbuildstate
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/CL.write.1.tlog
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/CL.read.1.tlog
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.tlog/CL.command.1.tlog
/InteractiveGame/InteractiveGame/Debug/InteractiveGame.log
